div{
	height:50px;
	float: left;
}
#carre{
	width:75%;
	background:#2ECC71
}
#carre2{
	width:25%;
	background:#2980b9;
}
#carre3{
	width:33.33%;
	height:100px;
	background:#E74C3C;
}
#carre4{	width:33.33%;
	background:#E67E22;
}
#carre5{
	width:33.33%;
	background:#95A5A6;
}
#carre7{
	width:22.22% ;
	background:#F39C12;
}
#carre8{
	width:22.22% ;
	background:#16A085;
}
#carre9{
	width:22.22% ;
	background:#D35400;
}
#carre10{
	width:100% ;
	height:100px;
	background:#2C3E50;
}
